In [4]:
import pandas as pd

# CSV 파일 로드
df = pd.read_csv('./G group/rideshare_dataset_without_missing_values.csv')

# 데이터프레임의 처음 몇 행 출력
print("Head of dataset:")
df.head()

Head of dataset:

                               # Dataset Information
0  # This dataset contains various time series re...
1  # For a given starting location, provider and ...
2  # The original dataset contains missing values...
3                                                  #
4                # For more details, please refer to

In [56]:
df = pd.read_csv("./data/processed_rideshare_data.csv")

df.head(500)

     ID  Location Provider Service        Type            Timestamp    Value_0
0    T1  Back Bay     Lyft     Lux  price_mean  2018-11-26 06-00-00  16.555556
1    T1  Back Bay     Lyft     Lux  price_mean  2018-11-26 06-00-00  17.300000
2    T1  Back Bay     Lyft     Lux  price_mean  2018-11-26 06-00-00  13.500000
3    T1  Back Bay     Lyft     Lux  price_mean  2018-11-26 06-00-00  17.954545
4    T1  Back Bay     Lyft     Lux  price_mean  2018-11-26 06-00-00  18.625000
..   ..       ...      ...     ...         ...                  ...        ...
495  T1  Back Bay     Lyft     Lux  price_mean  2018-11-26 06-00-00  19.642857
496  T1  Back Bay     Lyft     Lux  price_mean  2018-11-26 06-00-00  17.166667
497  T1  Back Bay     Lyft     Lux  price_mean  2018-11-26 06-00-00  15.642857
498  T1  Back Bay     Lyft     Lux  price_mean  2018-11-26 06-00-00  17.181818
499  T1  Back Bay     Lyft     Lux  price_mean  2018-11-26 06-00-00  17.142857

[500 rows x 7 columns]

In [22]:
df["Location"].value_counts()

Location
Beacon Hill                103872
Boston University          103872
Fenway                     103872
Financial District         103872
Northeastern University    103872
Haymarket Square           103872
North End                  103872
North Station              103872
Theatre District           103872
South Station              103872
West End                   103872
Back Bay                   103331
Name: count, dtype: int64

In [26]:
df["Provider"].value_counts()

Provider
Uber    662184
Lyft    583739
Name: count, dtype: int64

In [28]:
df["Service"].value_counts()

Service
Lux Black       97380
Lyft            97380
Lux Black XL    97380
Lyft XL         97380
Shared          97380
UberXL          97380
Black           97380
Black SUV       97380
UberPool        97380
WAV             97380
UberX           97380
Lux             96839
Taxi            77904
Name: count, dtype: int64

In [29]:
df["Type"].value_counts()

Type
distance_min     84396
distance_max     84396
distance_mean    84396
surge_min        84396
surge_mean       84396
api_calls        84396
surge_max        84396
humidity         84396
clouds           84396
temp             84396
rain             84396
wind             84396
price_max        77904
price_mean       77904
price_min        77363
Name: count, dtype: int64

In [48]:
# 각 조합별 데이터 개수를 계산 (pandas 최신 버전)
comb_counts = df.value_counts(subset=['Location', 'Provider', 'Service', 'Type']).reset_index(name='count')

# 결과 출력
comb_counts

      Location Provider       Service           Type  count
0     West End     Uber           WAV           wind    541
1     Back Bay     Lyft           Lux      api_calls    541
2     Back Bay     Lyft           Lux         clouds    541
3     Back Bay     Lyft           Lux   distance_max    541
4     Back Bay     Lyft           Lux  distance_mean    541
...        ...      ...           ...            ...    ...
2298  Back Bay     Lyft  Lux Black XL       humidity    541
2299  Back Bay     Lyft  Lux Black XL      price_max    541
2300  Back Bay     Lyft  Lux Black XL     price_mean    541
2301  Back Bay     Lyft  Lux Black XL      price_min    541
2302  Back Bay     Lyft  Lux Black XL           rain    541

[2303 rows x 5 columns]

In [50]:
df[(df["Location"] == "West End") & 
   (df["Provider"] == "Uber") & 
   (df["Service"] == "WAV") & 
   (df["Type"] == "wind")]

,ID,Location,Provider,Service,Type,Timestamp,Value_0
1245382,T2495,West End,Uber,WAV,wind,2018-11-26 06-00-00,1.386667
1245383,T2495,West End,Uber,WAV,wind,2018-11-26 06-00-00,1.757500
1245384,T2495,West End,Uber,WAV,wind,2018-11-26 06-00-00,0.000000
1245385,T2495,West End,Uber,WAV,wind,2018-11-26 06-00-00,1.357500
1245386,T2495,West End,Uber,WAV,wind,2018-11-26 06-00-00,1.950000
...,...,...,...,...,...,...,...
1245918,T2495,West End,Uber,WAV,wind,2018-11-26 06-00-00,13.890000
1245919,T2495,West End,Uber,WAV,wind,2018-11-26 06-00-00,15.030000
1245920,T2495,West End,Uber,WAV,wind,2018-11-26 06-00-00,14.600000
1245921,T2495,West End,Uber,WAV,wind,2018-11-26 06-00-00,13.550000
1245922,T2495,West End,Uber,WAV,wind,2018-11-26 06-00-00,13.090000

In [64]:
df = pd.read_csv("./data/Processed_rideshare.csv")

,ID,Location,Provider,Service,Attribute,Timestamp,Value
256434,T512,Boston University,Uber,Black,price_min,2018-11-26 06:00:00,16.0
256435,T512,Boston University,Uber,Black,price_min,2018-11-26 07:00:00,20.5
256436,T512,Boston University,Uber,Black,price_min,2018-11-26 08:00:00,17.5
256437,T512,Boston University,Uber,Black,price_min,2018-11-26 09:00:00,15.0
256438,T512,Boston University,Uber,Black,price_min,2018-11-26 10:00:00,20.5
...,...,...,...,...,...,...,...
256970,T512,Boston University,Uber,Black,price_min,2018-12-18 14:00:00,16.0
256971,T512,Boston University,Uber,Black,price_min,2018-12-18 15:00:00,20.5
256972,T512,Boston University,Uber,Black,price_min,2018-12-18 16:00:00,15.0
256973,T512,Boston University,Uber,Black,price_min,2018-12-18 17:00:00,15.0
256974,T512,Boston University,Uber,Black,price_min,2018-12-18 18:00:00,17.0