In [4]:
import pandas as pd

# CSV 파일 로드
df = pd.read_csv('./G group/rideshare_dataset_without_missing_values.csv')

# 데이터프레임의 처음 몇 행 출력
print("Head of dataset:")
df.head()

Head of dataset:

                               # Dataset Information
0  # This dataset contains various time series re...
1  # For a given starting location, provider and ...
2  # The original dataset contains missing values...
3                                                  #
4                # For more details, please refer to

In [65]:
df = pd.read_csv("./data/Processed_rideshare.csv")

In [66]:
df

,ID,Location,Provider,Service,Attribute,Timestamp,Value
0,T0,Back Bay,Lyft,Lux,price_min,2018-11-26 06:00:00,11.00
1,T0,Back Bay,Lyft,Lux,price_min,2018-11-26 07:00:00,13.50
2,T0,Back Bay,Lyft,Lux,price_min,2018-11-26 08:00:00,13.50
3,T0,Back Bay,Lyft,Lux,price_min,2018-11-26 09:00:00,13.50
4,T0,Back Bay,Lyft,Lux,price_min,2018-11-26 10:00:00,13.50
...,...,...,...,...,...,...,...
1246459,T2495,West End,Uber,WAV,wind,2018-12-18 14:00:00,13.89
1246460,T2495,West End,Uber,WAV,wind,2018-12-18 15:00:00,15.03
1246461,T2495,West End,Uber,WAV,wind,2018-12-18 16:00:00,14.60
1246462,T2495,West End,Uber,WAV,wind,2018-12-18 17:00:00,13.55
1246463,T2495,West End,Uber,WAV,wind,2018-12-18 18:00:00,13.09

In [22]:
df["Location"].value_counts()

Location
Beacon Hill                103872
Boston University          103872
Fenway                     103872
Financial District         103872
Northeastern University    103872
Haymarket Square           103872
North End                  103872
North Station              103872
Theatre District           103872
South Station              103872
West End                   103872
Back Bay                   103331
Name: count, dtype: int64

In [67]:
df["Provider"].value_counts()

Provider
Uber    662184
Lyft    584280
Name: count, dtype: int64

In [68]:
df["Service"].value_counts()

Service
Lux             97380
Lux Black       97380
Lux Black XL    97380
Lyft            97380
Lyft XL         97380
Shared          97380
Black           97380
Black SUV       97380
UberPool        97380
UberXL          97380
UberX           97380
WAV             97380
Taxi            77904
Name: count, dtype: int64

In [70]:
df["Attribute"].value_counts()

Attribute
distance_max     84396
distance_mean    84396
distance_min     84396
surge_min        84396
api_calls        84396
surge_max        84396
surge_mean       84396
rain             84396
humidity         84396
clouds           84396
temp             84396
wind             84396
price_mean       77904
price_max        77904
price_min        77904
Name: count, dtype: int64